{% extends "layout.html" %}
{% block content %}
    {% for post in posts.items %}
        <h2><a href="/post/{{post.id}}">{{post.title}}</a></h2>
        <p>By {{post.author}} on {{post.date_posted}}</p>
        <p>{{post.content}}</p>
    {% endfor%}
    {% for pageNum in posts.iter_pages(left_edge = 1, right_edge = 1, left_current = 1, right_current = 2) %}
        {% if pageNum %}
            <a href="{{url_for('main.home', page = pageNum)}}">{{pageNum}}</a>
        {% else %}
            ...
        {% endif %}
    {% endfor%}
{% endblock content %}
